.form-div{
    margin: 100px auto 100px;
    padding: 25px 15px 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form-control:focus{
    box-shadow: none;
}

form p{
    font-size: .89em;
}
.logout{
    color: darkorange;
}

.nav-link{
float:right;
}

.jumbotron{
    background-color: darkorange !important;
    color: white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: dodgerblue;
    color: white;
    text-align: center;
}

.hello{
    color: darkorange;
}

